.menu-item-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.menu-item-active {
  color: white;
  background-color: #cccccc;
  font-weight: bold;
}
