<article class="dashboard-navigation-container">
  <span class="dashboard-navigation-item"
  routerLinkActive="dashboard-navigation-item-active"
  [routerLink]="navigationItem.route"
  *ngFor="let navigationItem of navigationItems">
    {{navigationItem.label}}
  </span>
</article>
