<article class="custom-first-container">
 <span class="custom-first-item"
       routerLinkActive="custom-first-item-active"
       (click)="navigate(product.id)"
       *ngFor="let product of products">{{product.name}}</span>
</article>

<router-outlet></router-outlet>
